doctype html
html
   head
      title = "Films time"
   body
      main
        h1 Este es el titulo #{film.Title}
        h3 Autor  #{film.Director}
        p Descripción #{film.Plot}
        img(src=film.Poster)

